.picturenavigator {
    margin: 3em 0 0 16em;
    width: 26em;
}

#picturecanvas {
    position: relative;
    top: 1em;
    margin: 0 1em 0 1em;
    border: 1px solid black;
}

.navigationbutton {
    background-color: #fafafa;
    height: 1.2em;
    width: 1.2em;
    font-size: 48pt;
    color: #6a6a6a;
    vertical-align: middle;
}

.navigationfield {
    position: relative;
    font-size: 18pt;
    text-align: center;
    top: 1em;
    left: 6em;
    width: 3em;
}

#navigationbuttonleft::before {
    content: '<';
}

#navigationbuttonright::before {
    content: '>';
}

.labelcontrol {
    margin: 1em 1em 1em 16em;
}

.labelbutton {
    background-color: #fafafa;
    height: 1.2em;
    font-size: 48pt;
    margin: 1em .1em;
    width: 3em;
}

#labelbuttonyes {
    color: #004600;
}

#labelbuttonno {
    color: #460000;
}

#labelbuttonyes::before {
    content: 'yes';
}

#labelbuttonno::before {
    content: 'no';
}