button {
    background-color: #fafafa;
    height: 1.4em;
    width: 1.4em;
    font-size: 48pt;
    color: #6a6a6a;
}

.picturenavigator {
    margin: 3em 0 0 16em;
    width: 26em;
}

#picturecanvas {
    position: relative;
    top: 0.4em;
    margin: 0 1em 0 1em;
    border: 1px solid black;
}

.navigationbutton {
    vertical-align: text-bottom;
    height: 3em;
}

.navigationfield {
    font-size: 18pt;
    text-align: center;
    width: 5em;
    margin: 1em 1em 1em 6em;
}

.navigationbuttonleft::before {
    content: '<';
}

.navigationbuttonright::before {
    content: '>';
}

.labelcontrol {
    position: relative;
    margin: 1em 1em 1em 16em;
    width: 26em;
}

.labeldot {
    width: 1em;
    border-radius: .4em;
    height: 1em;
    margin: 0 6em 0 6em;
    display: inline-block;
}

#labeldotyes.on {
    background-color: #004600;
}

#labeldotno.on {
    background-color: #460000;
}

#labeldotyes {
    background-color: #cfdacf;
}

#labeldotno {
    background-color: #d1c6c6;
}

.labelbutton {
    margin: 1em .1em;
    width: 3em;
}

#labelbuttonyes {
    color: #004600;
}

#labelbuttonno {
    color: #460000;
}

#labelbuttonyes::before {
    content: 'yes';
}

#labelbuttonno::before {
    content: 'no';
}

.savebutton {
    margin: 1em .1em;
    width: 3em;
}

.savebutton::before {
    content: 'save';
}

.loadbutton {
    margin: 1em 0 0 4.1em;
    width: 3em;
}

.loadbutton::before {
    content: 'load';
}

.labelcountname {
    display: inline-block;
    width: 8em;
    text-align: right;
    font-size: 18pt;
    font-family: system-ui;
    color: #6a6a6a;
}

.labelcount {
    margin: 0 0 0 1em;
    font-size: 18pt;
    font-family: system-ui;
    color: #6a6a6a;
}

.labelnamenavigationbutton {
    display: none;
    position: absolute;
    right: 2em;
    width: 4em;
}

.labelcountgroup:hover>.labelnamenavigationbutton {
    display: inline-block;
    font-size: 12pt;
}
