*.pyc

.DS_Store

node_modules
public

build

app/learnhypertext.mjs
app/resources

js/lib

resources/boxes.txt
resources/boxes*.txt
resources/*.csv
resources/*.json
resources/*.debug.mat
resources/*.debug.*littlemachine

resources/png4
resources/png9/*
resources/png16/*

octave/labellist*.csv

dev/server.js

html/resources/*.json