*.pyc

.DS_Store

node_modules
public

build

app/learnhypertext.mjs
app/labellists

js/lib

labellists/boxes.txt
labellists/boxes*.txt
labellists/*.csv
labellists/*.json

labellists/png4
labellists/png9/*
labellists/png16/*

octave/labellist-*.csv

dev

html/labellists/*.json