*.pyc

.DS_Store

node_modules
public

build

js/lib

labellists/boxes.txt
labellists/boxes*.txt
labellists/*.csv
labellists/*.json

labellists/png4
labellists/png9/*
labellists/png16/*

dev

html/labellists/*.json