body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    height: 3em;
    border: 0.2em solid #aae4ea;
    border-radius: 2em;
    color: #a97b07;
    font-size: 1em;
}

.step {
    width: 46em;
}

.container {
    display: grid;
    background: linear-gradient(90deg, #aae4ea, #ffffff);
    grid-template-columns: repeat(16, 3em);
    grid-template-rows: repeat(13, 3em);
}

#sidebar {
    grid-row: 1/9;
    grid-column: 1;
}

#menuButton {
    width: 3em;
}

#pixelcanvas {
    grid-row: 1/5;
    grid-column: 2/6;
    margin: 0 0 0 0;
    border: 2px dotted var(--text-0-fg-color);
    border-radius: 0.4em;
}

.navigationbutton {
    grid-row: 5;
}

.navigationfield {
    grid-row: 5;
    grid-column: 3/5;
    background-color: #fff;
    height: 3em;
    box-sizing: border-box;
    border: 0.2em solid #aae4ea;
    border-radius: 3em;
    text-align: center;
    color: #a97b07;
    font-size: 1em;
}

.navigationbuttonleft {
    grid-column: 2;
}

.navigationbuttonright {
    grid-column: 5;
}

.labelbutton {
    grid-row: 6;
}

#labelbuttonyes {
    grid-column: 2 / 4;
}

#labelbuttonno {
    grid-column: 4 / 6;
}

#labelbuttonyes.on {
    color: #ffffff;
    background-color: #478531ff;
    border: 2px solid #7ce956ff;
}

#labelbuttonno.on {
    color: #ffffff;
    background-color: #cf0000ff;
    border: 2px solid #740000ff;
}

#loadButton {
    grid-row: 7;
    grid-column: 7 / 10;
}

#classifyButton {
    grid-row: 7;
    grid-column: 11 / 14;
}
#saveButton {
    grid-row: 8;
    grid-column: 7 / 10;
}

#trainingDisplay {
    grid-row: 5;
    grid-column: 7/16;
    color: #a97b07;
}

#labelcounts {
    grid-row: 9 / 13;
    grid-column: 2 / 5;
}

#labelcounts.off {
    display: none;
}

#labelcounts.on {
    display: initial;
}

.labelcountgroup {
    display: grid;
    grid-template-columns: 0px repeat(4, 3em);
}

h1 {
    font-size: 3em;
    color: green;
    text-align: center;
}

p {
    font-size: 2em;
    color: green;
    text-align: center;
}

ul {
    font-size: 2em;
    color: green;
}

root {
    --bg-0-color: rgb(255, 255, 255);
    --bg-0-inverted-color: rgba(57, 66, 237, 0.815);
    --bg-1-color: rgb(237, 237, 237);
    --bg-2-color: rgba(169, 123, 7, 0.815);
    --bg-3-color: rgba(204, 141, 5, 0.55);
    --text-0-fg-color: rgb(170, 228, 234);
    --text-1-fg-color: rgb(255, 255, 255);
    --text-0-inverted-fg-color: rgb(169, 123, 7);
    --text-1-inverted-fg-color: rgb(255, 219, 157);
    --text-2-fg-color: rgb(71, 133, 49);
    --font-0-family:
        normal helvetica-w01-roman, helvetica-w02-roman, helvetica-lt-w10-roman,
        sans-serif;
    --copy-column-width: 520px;
    --gradient1-g0-color: rgb(170, 228, 234);
    --gradient1-g1-color: rgb(159, 213, 219);
    --gradient1-g2-color: rgb(148, 199, 204);
    --gradient1-g3-color: rgb(137, 185, 189);
    --gradient1-g4-color: rgb(127, 171, 175);
    --gradient1-g5-color: rgb(116, 156, 160);
    --gradient1-g6-color: rgb(106, 142, 146);
    --gradient1-g7-color: rgb(95, 128, 131);
    --gradient1-g8-color: rgb(85, 114, 117);
    --gradient1-g9-color: rgb(74, 99, 102);
    --gradient1-g10-color: rgb(63, 85, 87);
    --gradient1-g11-color: rgb(52, 71, 72);
    --gradient1-g12-color: rgb(42, 57, 58);
    --gradient1-g13-color: rgb(31, 42, 43);
    --gradient1-g14-color: rgb(21, 28, 29);
    --gradient1-g15-color: rgb(10, 14, 14);
}
